body{
      overflow:hidden
}


.gradient_img{

    position: absolute;
    top: 0vh;
    height: 100vh;
    width:100vw;
    right:50vw; 
    z-index: -1;

}

.gradient_img_translation_right{
    transform: translateX(50vw);  
    transition: 2s ease-in-out;
}

.gradient_img_translation_left{
      transform: scaleX(1);  
      transition: 2s ease-in-out;
  }

.title{
      font-family: 'Abril Fatface';
      font-size: 6vw;
      position: absolute;
      bottom: 3vh;
      left: 6vw;
      cursor: pointer;
      font-weight: normal;
}

.subtitle{
      font-family: 'Poppins';
      font-size: 80%;
      font-weight: 200;
      position: relative;
      left: 5.5vw;
      top: 85vh;
      z-index: 1;
}

.navigation{
      position: absolute;
      top: 5vh;
      right: 5vw;
}

.menu_button{
      padding:10px;
      font-family: 'Abril Fatface';
      font-size: 120%;
      background-color: rgb(255,255,255,0);
      border:none;
      outline-style:none;
}

.right_box{    
      height : 60vh;
      width: 30vw;
  
      display: block;
      
}

.start_buttons{
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      
      padding: 70px;
      
      position: absolute;
      left:55vw;
      top:18vh;
}

.menu_button:hover{
      cursor: pointer;
}



.action{
    color: black;
    width: 300px;
    background-color:rgb(255,255,255,0) ;
    border-radius : 50px;
    border: solid 2px;
    border-color: black;
    padding: 5px;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 30%;
    font-family:'Poppins', sans-serif;
    font-size:110%;
    font-weight: 800;
    outline-style:none;
}

.action:hover{
      cursor:pointer;
      color: white;
      background-color: black;
}

.lib_box{    
      height : 35vh;
      width: 35vw;
      z-index: 1;

      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: baseline;
      
      padding: 30px;

      background-color: rgb(255,255,255,0.2);
      position: absolute;
      left:50vw;
      top:18vh;
      border:solid 1px white;

      font-family: 'Poppins';

      overflow: scroll;


}

.secondary_title{
      font-weight: 800;
}

.song_name{
      font-size: 80%;
      font-weight: 600;
      margin: 0;
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
      align-self: center;
      margin-bottom: 15px;
      cursor: pointer;

}

.artist_name{
      font-size: 75%;
      font-weight: 200;
      margin: 0;
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      margin-top: 15px;
      align-self: center;


}

.song_list{
      display: grid;
      grid-template-columns: 50px 10px auto;
      grid-template-rows: 100%;
      margin-bottom: 20px;

}

.lib_buttons{
      display:none;
      flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
      width:25vw;
      
      position: absolute;
      left: 58vw;
      bottom:12vh;
}


.playstop{


      height: 30px;
      width: 30px;

      cursor: pointer;
}


#play_button{

      align-self: center;
}

.continue_button{
      height: 30px;
      width: 30px;

      cursor: pointer;

      align-self: center;
      z-index: 2;
}


#FileDrop{
      position: absolute;
      top:30px;
      left:30px;
      margin-bottom: 10vh;
}


#continue_button_file{
      height: 30px;
      width: 30px;
      cursor: pointer;

      align-self: center;
      z-index: 2;
}

.upload_button{
      color: white;
      background-color: black;
      border-radius : 50px;
      padding: 5px;
      padding-left: 10%;
      padding-right: 10%;
      margin-top: 30%;
      border:none;
      font-family:'Poppins', sans-serif;
      font-size:110%;
      font-weight: 800;
      outline-style:none;
      cursor: pointer;
}

.upload_file{
      display: none;
      flex-direction: column;
      align-items: center;


      
      padding: 7px;
      width:20vw;
      
      position: absolute;
      left:60vw;
      top:22vh;

      
}

#FileDrop{
      
      width: 20vw;
      height: 100px;

      padding: 2%;
      font-family: 'Poppins';
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: space-around;
      position: relative;
      left: 0%;
      overflow: hidden;


}

#FileDrop input[type=file]{
      left: 0;
      top: 0;
      opacity: 0;
      position: absolute;
      font-size: 90px;
}

.btn-upload {
      background-color: #fff;
      border: 1px solid black;
      color: #000;
      padding: 10px 25px;

      font-family: 'Poppins';      
      font-size: 110%;
      font-weight: 400;
      cursor: pointer;
    }

.about{
      width:30vw;
      height: 70vh;
      display: none;
      flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
      position: absolute;
      top:20vh;
      right: 10vw;
      overflow: auto;
      padding-right:40px;
}

.about h3{
      font-family: 'Poppins';
      font-weight: 800;
      margin-bottom:0px;
}

.about p{
      margin-top: 0px;
      font-family:'Poppins';
      font-weight: 200;
      text-align: justify;
}


.credits{
      font-family:"poppins";
      font-weight: 600;
      margin-bottom: 0px;
}

.credits_magenta{
      padding-top: 20px;
      font-family: 'Courier New', Courier, monospace;
      font-size:70%
}

.img_circles{
      height: 50px;
      border-radius: 50%;
      float: left;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 1;
      cursor: pointer;
}

.upload_buttons{
      display:grid;
      grid-template-columns: 70px 70px;
      grid-template-rows: 50% 50%;
      margin-top:10vh;
     
}


.listening_mode{
      font-family: 'Poppins';
      font-weight: 800;
      font-size: 110%;
}

.button_list{
      display: grid;
      grid-template-columns: 50px 5px 400px auto;
      grid-template-rows: 100%;
      margin-bottom: 10px;


}

.button_list p{
      grid-column-start: 3;
      font-family: 'Poppins';
      font-size: 90%;
      margin-top: 0px;
      margin-bottom: 0px;
      align-self: center;
}

.playing_box{
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      position: absolute;
      top:25vh;
      left:15vw;
      font-family: 'Poppins';
      font-size: 70%;
      font-weight: normal;
}
.playing_box h3{
      font-weight: 400;
      margin-bottom: 0px;
      margin-top: 0px;
}

.playing_img{
      height:200px;
      border-radius: 50%;
      margin-bottom: 4vh;
}
